@namespace rtb "net.illest.rutabaga";
@namespace "net.illest.rutabaga.widgets";

@font-face {
	font-family: "Open Sans";
	src: embed("fonts/open_sans/OpenSans-Regular.ttf");
}

/**
 * patchbay
 */

patchbay {
	color: #0D0D0F;
	background: #000 embed('tile.tga') repeat;
}

patchbay::node,
patchbay::port {
	color: #FFF;
	background: #18181C;
}

/*
patchbay::node .node-name {
	font-size: 16pt;
}
*/

/**
 * button
 */

button {
	color: #FFF;
	background: #404F3C;
}

button:hover {
	background: #5C704C;
}

button:active {
	color: rgba(#FFF, .7);
	background: #364232;
}

/**
 * knob
 */

knob {
	color: #18181C;
	background: #404F3C;
}

/**
 * base widgets
 */

rtb|window {
	background: #18181C;
}

rtb|object {
	font-family: "Open Sans";
	font-size: 9pt;

	color: #FFF;
	background: #404F3C;
}
