@namespace rtb "net.illest.rutabaga";
@namespace "net.illest.rutabaga.widgets";

@font-face {
	font-family: "Open Sans";
	src: url("fonts/open_sans/OpenSans-Regular.ttf");
}

/**
 * patchbay
 */

patchbay {
	color: #0D0D0F;
	background-color: #000;
	background-image: url("assets/tile.tga");
}

patchbay::node {
	min-width: 200px;

	color: #FFF;
	background-color: rgba(#18181C, .9);

	/* XXX: should inherit family/face */
	font-family: "Open Sans";
	font-size: 15pt;
}

patchbay::port {
	color: #FFF;
	background-color: rgba(#404F3C, .9);
}

/**
 * button
 */

button {
	min-width:  80px;
	min-height: 26px;

	color: #FFF;
	border-image: url('assets/button_normal.tga') 4px fill;
}

button:hover {
	color: #FFF;
	border-image: url('assets/button_hover.tga') 4px fill;
}

button:active {
	color: rgba(#FFF, .7);
	border-image: url('assets/button_active.tga') 4px fill;
}

button:focus {
	border-image: url('assets/button_focus.tga') 4px fill;
}

/**
 * spinbox
 */

spinbox {
	min-width:  30px;
	min-height: 30px;

	border-image: url('assets/text_input_normal.tga') 4px;
}

/**
 * knob
 */

knob {
	min-width: 41px;
	min-height: 41px;

	background-image: url('assets/bknob_bg.tga');
	-rtb-knob-rotor: url('assets/bknob_rotor.tga');
}

/**
 * text input
 */

text-input {
	min-width:  150px;
	min-height: 30px;

	border-image: url('assets/text_input_normal.tga') 4px;
}

text-input:focus {
	border-image: url('assets/text_input_focus.tga') 4px;
}

/**
 * base widgets
 */

rtb|container {
	background-color: rgba(#2E2E36, .4);
}

rtb|window {
	color: #FFF;
	background-color: #18181C;
}

rtb|element {
	color: #FFF;

	font-family: "Open Sans";
	font-size: 9pt;
}
