@namespace rtb "net.illest.rutabaga";
@namespace "net.illest.rutabaga.widgets";

@font-face {
	font-family: "Open Sans";
	src: url("fonts/open_sans/OpenSans-Regular.ttf");
}

/**
 * patchbay
 */

patchbay {
	color: #0D0D0F;
	background-color: #000;
	background-image: url("assets/tile.tga");
}

patchbay::node {
	color: #FFF;
	background-color: rgba(#18181C, .9);

	/* XXX: should inherit family/face */
	font-family: "Open Sans";
	font-size: 15pt;
}

patchbay::port {
	color: #FFF;
	background-color: rgba(#404F3C, .9);
}

/**
 * button
 */

button {
	color: #FFF;
	background-color: #404F3C;
}

button:hover {
	color: #FFF;
	background-color: #5C704C;
}

button:active {
	color: rgba(#FFF, .7);
	background-color: #21291F;
	border-color: #404F3C;
}

button:focus {
	background-color: #3C404F;
}

/**
 * knob
 */

knob {
	color: #18181C;
	background-color: #404F3C;
}

/**
 * text input
 */

text-input {
	border-color: rgba(#404F3C, .5);
}

text-input:focus {
	border-color: #404F3C;
}

/**
 * base widgets
 */

rtb|container {
	background-color: rgba(#2E2E36, .4);
}

rtb|window {
	color: #FFF;
	background-color: #18181C;
}

rtb|element {
	color: #FFF;

	font-family: "Open Sans";
	font-size: 9pt;
}
